@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');


* {
    /* border: 2px solid gray; */
}


.app {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Piazzolla', serif;
    color: white; 
    background: #343434; 
}

.app h1 {
    font-size: 3rem; 
}

.placeholder {
    height: 12vh; 
}